<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unreal_Binary_Builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Unreal_Binary_Builder.Properties.Settings>
            <setting name="AutomationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingHostPlatformOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWithWin64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithWin32" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithMac" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithLinux" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithLinuxAArch64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithHTML5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithAndroid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithIOS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithTVOS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWithDDC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bSignExes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bSymStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bCleanBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWithPS4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWithXboxOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWithLumin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameConfigurations" serializeAs="String">
                <value>Development;Shipping</value>
            </setting>
            <setting name="bWithFullDebugInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomBuildXML" serializeAs="String">
                <value>Engine/Build/InstalledEngineBuild.xml</value>
            </setting>
            <setting name="bShutdownWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShutdownIfSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="bHostPlatformDDCOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWithServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWithClient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWithHoloLens" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bZipBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZipPath" serializeAs="String">
                <value />
            </setting>
            <setting name="bIncludePDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIncludeDEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIncludeDocumentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIncludeExtras" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIncludeSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIncludeFeaturePacks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIncludeSamples" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIncludeTemplates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bFastCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngineSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompileDatasmithPlugin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VS2019" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticsType" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingHostPlatformEditorOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </Unreal_Binary_Builder.Properties.Settings>
    </userSettings>
</configuration>