<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.14.0" targetFramework="net461" />
  <package id="GameAnalytics.Mono.SDK" version="3.1.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.7" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.2.0" targetFramework="net461" />
  <package id="NLog" version="4.7.5" targetFramework="net461" />
</packages>